/******* GENERAL *******/
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #f1ce8c;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.container {
    max-width: 1370px;
    padding: 2rem;
}

h1, h2, h3 {
    font-family: DejaVu Sans Mono, monospace;
    font-style: italic;
    font-size: 2rem;
    padding: 2rem 0;
}

p, a {
    font-family: Andale Mono, monospace;
}

.italic {
    font-style: italic;
}

.verticalLine {
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

/* Navbar */
.navbarScroll.navbarDark {
    background-color: #292626;
    color: #f1ce8c;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
    color: #292626;
}

.navbar-dark .navbar-nav .nav-link.navbarDark {
    color: #f1ce8c;
}

.navbar-dark .navbar-brand {
    color: #292626;
}

.navbar-dark .navbar-brand.navbarDark {
    color: #f1ce8c;
}