/******* GENERAL *******/
/* spacing on all sections */
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #f1ce8c;
}

.flex {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/* Navbar */
.navbarScroll.navbarDark {
    background-color: #292626;
    color: #f1ce8c;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
    color: #292626;
}

.navbar-dark .navbar-nav .nav-link.navbarDark {
    color: #f1ce8c;
}

.navbar-dark .navbar-brand {
    color: #292626;
}

.navbar-dark .navbar-brand.navbarDark {
    color: #f1ce8c;
}

/* Banner */
section#home {
    padding: 25rem 2rem 25rem 2rem;
    text-align: center;
    justify-content: center;
}

section#home h1 {
    font-size: 10rem;
    padding-bottom: 5rem;
}

section#home h2 {
    font-size: 5rem;
}

/* about */
.container {
    max-width: 1370px;
    padding: 2rem;
}

.containerAbout {
    flex-flow: row wrap;
    align-items: center;
}

.containerAbout h2 {
    padding: 2rem;
}

.containerAbout div {
    width: 100%;
}